page-home {
    .home-line {
        height: 1px;
        background-color: #ccc;
        margin: 5px 0px;
    }
    .home-content {
        margin: 5px 0px;
    }
    .home-name {
        color: aquamarine;
        font-size: 12px;

    }
    .home-time {
        font-size: 12px;
        position: absolute;
        right: 30px;
        color: #666;
    }

}
